.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid black;
  /* gap: 2px; */
  padding: 2px;
  /* background-color: steelblue; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  border: 2px solid grey;
  background: teal;
  color: white;
  cursor: pointer;
}